{% set node_roles_list = es_roles.split(',') | map('trim') | list %}
{% set es_major = es_version.split('.')[0] | int %}

# ---------------------------------- Cluster -----------------------------------
cluster.name: {{ cluster_name }}

# ------------------------------------ Node ------------------------------------
node.name: {{ inventory_hostname }}
node.attr.zone: {{ node_zone | default('zone-1') }}
cluster.routing.allocation.awareness.attributes: zone
node.roles: [ {% for role in node_roles_list %}{{ role }}{% if not loop.last %}, {% endif %}{% endfor %} ]

# ----------------------------------- Paths ------------------------------------
path.data: {{ path_data }}
path.logs: {{ path_logs }}
path.repo: ["/mnt/es_snapshots"]

# ---------------------------------- Network -----------------------------------
network.host: "{{ bind_ip }}"
http.host: 0.0.0.0
transport.host: 0.0.0.0
http.port: {{ http_port }}
transport.port: {{ transport_port }}

# --------------------------------- Discovery ----------------------------------
{% if setup_mode | default(false) %}
cluster.initial_master_nodes: [{% for host in groups['elastic_master_nodes'] %}"{{ host }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
discovery.seed_hosts: [{% for host in groups['elastic_master_nodes'] %}"{{ hostvars[host]['bind_ip'] }}:{{ transport_port }}"{% if not loop.last %}, {% endif %}{% endfor %}]

# ---------------------------------- Various -----------------------------------
action.destructive_requires_name: true

# ---------------------------------- Security ----------------------------------
xpack.security.enabled: true
xpack.security.enrollment.enabled: true

xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.client_authentication: none
xpack.security.transport.ssl.keystore.path: certificates/{{ inventory_hostname }}.p12

xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.client_authentication: none
xpack.security.http.ssl.keystore.path: certificates/{{ inventory_hostname }}.p12

# --------------------------------- Monitoring ---------------------------------
xpack.monitoring.collection.enabled: true
xpack.ml.enabled: false
